
/* Top Nav */
nav {
  background:#365198;
  padding:1.5em 0;
  position:fixed;
  width:100%;
  margin-top:-4em;
} 

nav main {
  display:flex;
  justify-content:space-between;

}

nav a.app-title {
  font-family:"Bungee";
  color:#ffffff;
}

nav main a {
  color:#ffffff;
}